<a href="https://colab.research.google.com/github/danunive/Data-Science/blob/master/Python_DataScience_Toolbox.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


 **#Python Data Science Toolbox (Part 1)**

Ref: https://campus.datacamp.com/courses/python-data-science-toolbox-part-1/writing-your-own-functions?ex=6

Define function without parameters
Define functions with one parameter
Define functions that return a value
later: multiple arguments, multiple return values

In [2]:
x = str(5)
print(x)
print(type(x))

5
<class 'str'>

In [4]:
def square():
  new_value = 4**2
  print(new_value)

square()

16

###Function Parameters

You write parameters in the function header

In [5]:
def square(value):
  new_value = value**2
  print(new_value)

square(4)

16

### Return values from functions

In [6]:
def square(value):
  new_value = value **2
  return new_value

num = square(4)
print(num)

16

###Docstrings

Describe what your function does,  such as the computations it performs or its return values

These descriptions serve as documentation for your function so that anyone who reads your functionÂ´s docstrind understands what your function does

In [8]:
def square(value):
  """Return the square of a value."""
  new_value = value **2
  return new_value

square(8)

64

it is important to remenber that assigning a variable y2 to a function that prints a value but does not return a value will result in thet variable y2 being of type Nonetype

In [9]:
def shout():
  shout_word = 'Congratulations'
  print(shout_word)

In [10]:
shout()

Congratulations

In [13]:
def shout(word):
  shout_word = word + '!!!'
  print(shout_word)

shout('Congratilation')

Congratilation!!!

Multiple Parameters and return values