<a href="https://colab.research.google.com/github/danunive/Data-Science/blob/master/Python_DataScience_Toolbox.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


### **Python Data Science Toolbox (Part 1)**

Ref: https://campus.datacamp.com/courses/python-data-science-toolbox-part-1/writing-your-own-functions?ex=6

Define function without parameters
Define functions with one parameter
Define functions that return a value
later: multiple arguments, multiple return values

In [ ]:
x = str(5)
print(x)
print(type(x))

5
<class 'str'>

In [ ]:
def square():
  new_value = 4**2
  print(new_value)

square()

16

###Function Parameters

You write parameters in the function header

In [ ]:
def square(value):
  new_value = value**2
  print(new_value)

square(4)

16

### Return values from functions

In [ ]:
def square(value):
  new_value = value **2
  return new_value

num = square(4)
print(num)

16

###Docstrings

Describe what your function does,  such as the computations it performs or its return values

These descriptions serve as documentation for your function so that anyone who reads your function´s docstrind understands what your function does

In [ ]:
def square(value):
  """Return the square of a value."""
  new_value = value **2
  return new_value

square(8)

64

it is important to remenber that assigning a variable y2 to a function that prints a value but does not return a value will result in thet variable y2 being of type Nonetype

In [ ]:
def shout():
  shout_word = 'Congratulations'
  print(shout_word)

In [ ]:
shout()

Congratulations

In [ ]:
def shout(word):
  shout_word = word + '!!!'
  print(shout_word)

shout('Congratilation')

Congratilation!!!

# **Bringing it all together**

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/tweets.txt')
df.head()
df.columns

Index(['contributors', 'coordinates', 'created_at', 'entities',
       'extended_entities', 'favorite_count', 'favorited', 'filter_level',
       'geo', 'id', 'id_str', 'in_reply_to_screen_name',
       'in_reply_to_status_id', 'in_reply_to_status_id_str',
       'in_reply_to_user_id', 'in_reply_to_user_id_str', 'is_quote_status',
       'lang', 'place', 'possibly_sensitive', 'quoted_status',
       'quoted_status_id', 'quoted_status_id_str', 'retweet_count',
       'retweeted', 'retweeted_status', 'source', 'text', 'timestamp_ms',
       'truncated', 'user'],
      dtype='object')

In [ ]:
col = df['lang']
col.head(6)

0    en
1    en
2    et
3    en
4    en
5    en
Name: lang, dtype: object

In [ ]:
langs_count = {}
col = df['lang']

In [ ]:
for entry in col:
  if entry in langs_count.keys():
    langs_count[entry]+=1
  else:
    langs_count[entry] = 1
  
print (langs_count)

{'en': 291, 'et': 3, 'und': 6}

In [ ]:
def count_entries(df, col_name):
    """Return a dictionary with counts of 
    occurrences as value for each key."""

    # Initialize an empty dictionary: langs_count
    langs_count = {}
    
    # Extract column from DataFrame: col
    col = df[col_name]
    
    # Iterate over lang column in DataFrame
    for entry in col:

        # If the language is in langs_count, add 1
        if entry in langs_count.keys():
            langs_count[entry]+=1
        # Else add the language to langs_count, set the value to 1
        else:
           langs_count[entry]=1

    # Return the langs_count dictionary
    return langs_count

# Call count_entries(): result
result=count_entries(df,'lang')

# Print the result
print(result)

{'en': 97, 'et': 1, 'und': 2}

## **Default arguments, variable - length arguments ans scope**

Global vs. local Scope

In [ ]:
def square(value):
  new_val = value**2
  return new_val

In [ ]:
square(3)

9

In [ ]:
new_val ##No podemos acceder a esta variable pporque no es una variable global

In [ ]:
#En este caso tenemos variable global pero no se afecta con la función
new_val = 10
def square(value):
  new_val = value**2
  return new_val
print(square(3))
new_val

9

10

In [ ]:
# En este caso tenemos una función que opera con la variable global, sin embargo dicha variable  mantiene su  mismo valor

new_val = 10
def square(value):
  new_val2 = new_val**2
  return new_val2
print(square(3))
new_val

100

10

In [ ]:
# Con la función global vamos a acceder a la variable global y podremos reemplazarla
new_val = 10
def square(value):
  global new_val ## Acceder a la variable global
  new_val = value**2
  return new_val
print(square(3))
new_val

9

9

In [ ]:
## Revisar para qué sirve esta librería
import builtins

In [ ]:
dir(builtins)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EnvironmentError',
 'Exception',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'all',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'dreload',
 'enumerate',
 'eval',
 'exec',
 'execfile',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'runfile',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

**Nested functions**

In [1]:
def modulo(x1, x2, x3):
  valor_1 = x1%2 +5
  valor_2 = x2%2 +5
  valor_3 = x3%2 +5
  return(valor_1, valor_2, valor_3)

Devuelve una tupla.
-- Con la tupla es posible agrupar.

In [10]:
x , y ,z = modulo(5,4,457)
print(x)

6

In [16]:
def modulo2(x1,x2,x3):
  def interno(x):
    return x%2 +5
  return (interno(x1),interno(x2), interno(x3))

In [17]:
modulo2(9,10,11)

(6, 5, 6)

Ejemplo Nro 2

Validar el returning functions

In [29]:
def raise_val(n):
  def inner(x):
    raised = x**n
    return raised

  return inner

In [31]:
squared = raise_val(2)
print(squared)

<function raise_val.<locals>.inner at 0x7fc49c5fc200>

Using nonlocal

In [32]:
def outer():
  n = 1

  def inner():
    nonlocal n
    n = 2
    print(n)
  
  inner()
  print(n)

outer()

2
2

Add a default argument

In [35]:
def potencia(n, exp = 1):
  numero = n**exp
  return numero

In [39]:
print(potencia(9,2))
print(potencia(9,1))
print(potencia(9)) # Por defecto tiene el exponente de 1

81
9
9

flexible arguments: *arg

In [42]:
def todos(*args):
  #inicializar la suma
  suma = 0
  for num in args:
    suma += num
  return suma

In [43]:
print(todos(5))
print(todos(5,5,16))

5
26

# Flexible arguments: **Kwargs

In [61]:
##Error en datacamp
def print_all(**kwargs):
  for key, value in kwargs.items():
    print(key + \": \" + value)

SyntaxError: ignored

In [57]:
print_all({name="Daniela Anaya Rojas", universidad ="Unal"})

SyntaxError: ignored

In [62]:
# Referencia 2: https://book.pythontips.com/en/latest/args_and_kwargs.html
def greet_me(**kwargs):
    for key, value in kwargs.items():
        print("{0} = {1}".format(key, value))

In [63]:
greet_me(name="Daniela Anaya Rojas", universidad ="Unal")

name = Daniela Anaya Rojas
universidad = Unal

### **bringing it all together**