<a href="https://colab.research.google.com/github/danunive/Data-Science/blob/master/Python_DataScience_Toolbox.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


 **#Python Data Science Toolbox (Part 1)**

Ref: https://campus.datacamp.com/courses/python-data-science-toolbox-part-1/writing-your-own-functions?ex=6

Define function without parameters
Define functions with one parameter
Define functions that return a value
later: multiple arguments, multiple return values

In [ ]:
x = str(5)
print(x)
print(type(x))

5
<class 'str'>

In [ ]:
def square():
  new_value = 4**2
  print(new_value)

square()

16

###Function Parameters

You write parameters in the function header

In [ ]:
def square(value):
  new_value = value**2
  print(new_value)

square(4)

16

### Return values from functions

In [ ]:
def square(value):
  new_value = value **2
  return new_value

num = square(4)
print(num)

16

###Docstrings

Describe what your function does,  such as the computations it performs or its return values

These descriptions serve as documentation for your function so that anyone who reads your function´s docstrind understands what your function does

In [ ]:
def square(value):
  """Return the square of a value."""
  new_value = value **2
  return new_value

square(8)

64

it is important to remenber that assigning a variable y2 to a function that prints a value but does not return a value will result in thet variable y2 being of type Nonetype

In [ ]:
def shout():
  shout_word = 'Congratulations'
  print(shout_word)

In [ ]:
shout()

Congratulations

In [ ]:
def shout(word):
  shout_word = word + '!!!'
  print(shout_word)

shout('Congratilation')

Congratilation!!!

Multiple Parameters and return values

In [7]:
def raise_to_power(value1, value2):
  new_value = value1**value2
  return new_value

result = raise_to_power(2,3)
print(result)

8

**Tuples:**

- Like a list - can contain multiple values
- Immutable - can´t modify values
-Constructed using parentheses ()
- Unpack a tuple into several variables

In [9]:
event_num =(2,4,6)
a, b, c = event_num

In [10]:
print(a)

2

In [11]:
event_num[0]

2

In [12]:
def raise_both(value1, value2):
  new_value1 = value1**value2
  new_value2 = value2**value1

  new_tuple = (new_value1, new_value2)
  return new_tuple

In [13]:
result = raise_both(2,3)
print(result)

(8, 9)

Functions with multiple parameters