<a href="https://colab.research.google.com/github/danunive/Data-Science/blob/master/Python_DataScience_Toolbox.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


### **Python Data Science Toolbox (Part 1)**

Ref: https://campus.datacamp.com/courses/python-data-science-toolbox-part-1/writing-your-own-functions?ex=6

Define function without parameters
Define functions with one parameter
Define functions that return a value
later: multiple arguments, multiple return values

In [ ]:
x = str(5)
print(x)
print(type(x))

5
<class 'str'>

In [ ]:
def square():
  new_value = 4**2
  print(new_value)

square()

16

###Function Parameters

You write parameters in the function header

In [ ]:
def square(value):
  new_value = value**2
  print(new_value)

square(4)

16

### Return values from functions

In [ ]:
def square(value):
  new_value = value **2
  return new_value

num = square(4)
print(num)

16

###Docstrings

Describe what your function does,  such as the computations it performs or its return values

These descriptions serve as documentation for your function so that anyone who reads your functionÂ´s docstrind understands what your function does

In [ ]:
def square(value):
  """Return the square of a value."""
  new_value = value **2
  return new_value

square(8)

64

it is important to remenber that assigning a variable y2 to a function that prints a value but does not return a value will result in thet variable y2 being of type Nonetype

In [ ]:
def shout():
  shout_word = 'Congratulations'
  print(shout_word)

In [ ]:
shout()

Congratulations

In [ ]:
def shout(word):
  shout_word = word + '!!!'
  print(shout_word)

shout('Congratilation')

Congratilation!!!

# **Bringing it all together**

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/tweets.txt')
df.head()
df.columns

Index(['contributors', 'coordinates', 'created_at', 'entities',
       'extended_entities', 'favorite_count', 'favorited', 'filter_level',
       'geo', 'id', 'id_str', 'in_reply_to_screen_name',
       'in_reply_to_status_id', 'in_reply_to_status_id_str',
       'in_reply_to_user_id', 'in_reply_to_user_id_str', 'is_quote_status',
       'lang', 'place', 'possibly_sensitive', 'quoted_status',
       'quoted_status_id', 'quoted_status_id_str', 'retweet_count',
       'retweeted', 'retweeted_status', 'source', 'text', 'timestamp_ms',
       'truncated', 'user'],
      dtype='object')

In [ ]:
col = df['lang']
col.head(6)

0    en
1    en
2    et
3    en
4    en
5    en
Name: lang, dtype: object

In [ ]:
langs_count = {}
col = df['lang']

In [ ]:
for entry in col:
  if entry in langs_count.keys():
    langs_count[entry]+=1
  else:
    langs_count[entry] = 1
  
print (langs_count)

{'en': 291, 'et': 3, 'und': 6}

In [ ]:
def count_entries(df, col_name):
    """Return a dictionary with counts of 
    occurrences as value for each key."""

    # Initialize an empty dictionary: langs_count
    langs_count = {}
    
    # Extract column from DataFrame: col
    col = df[col_name]
    
    # Iterate over lang column in DataFrame
    for entry in col:

        # If the language is in langs_count, add 1
        if entry in langs_count.keys():
            langs_count[entry]+=1
        # Else add the language to langs_count, set the value to 1
        else:
           langs_count[entry]=1

    # Return the langs_count dictionary
    return langs_count

# Call count_entries(): result
result=count_entries(df,'lang')

# Print the result
print(result)

{'en': 97, 'et': 1, 'und': 2}

## **Default arguments, variable - length arguments ans scope**